.container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
img{
  max-width: 100%;
  vertical-align: center;
}

/*头部*/
.header-logo{
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
.hedaer-divider{
  float: left;
  height: 40px;
  margin: 12px 0;
}
#header-nav{
  float: left;
  margin-left: 20px;
  border-bottom: none;
}
#header-nav li{
  height: 64px;
  line-height: 64px;
  color: #fff;
  width: 120px;
  text-align: center;
}
.header-xs-menu{
  position: absolute;
  right: 0;
}
#header-xs-nav{
  background-color: #f0f2f5;
}
#header-xs-nav li{
  height: 36px;
  line-height: 36px;
  color: #000;
  text-align: center;
}
#header-xs-nav li:hover{
  background-color: #1890ff;
}

/*底部*/
.footer{
  text-align: center;
}

/*主体部分*/
.main-body{
  flex: 1;
  background-color: #fff;
}
.main-nav-warp{
  padding: 20px 50px;
}
#main-nav{
  color: #000;
  text-align: center;
}
#main-nav .ant-menu-item-selected{
  border-right: 3px solid #1890ff;
}

#main-xs-nav{
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}
#main-xs-nav li{
  flex: 1;
  text-align: center;
}
.main-container{
  max-width: 980px;
  margin: 30px auto;
}

/*覆盖样式*/
.ant-list-item{
  padding: 12px 10px 0;
  display: flex;
  align-items: center;
}

/*用户页面*/
.user-avatar{
  width: 100px;
  height: 100px;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}
.ant-list-item{
  line-height: 32px;
  padding-bottom: 10px;
}
.user-nick{
  margin: 0 10px 0 5px;
}
.action-date{
  margin-left: auto;
}
.ant-row div{
  text-align: center;
  line-height: 30px;
  margin-bottom: 15px;
}