.container{
    width: 100vw;
    min-height: 100vh;
}

/*----------------header-------------------*/

.header-container{
    max-width: 980px;
}
.header-logo{
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}